DB_URL=jdbc:mysql://localhost:3306/new_toy_store
DB_USERNAME=root
DB_PASSWORD=Huynguyen_07

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=forcoding8888l@gmail.com
MAIL_PASSWORD=izsl leeg scsg novm

DEFAULT_AVATAR_URL=https://res.cloudinary.com/yn4pbgfc/image/upload/v1785478419/new-toy-store/defaults/qrigp9ce5o4uksmdypl0.png

SEED_ADMIN_ENABLED=true
SEED_ADMIN_EMAIL=admin@gmail.com
SEED_ADMIN_PASSWORD=123456
SEED_ADMIN_FULL_NAME=Admin
SEED_ADMIN_PHONE=0900000001

SEED_STAFF_ENABLED=true
SEED_STAFF_EMAIL=staff@gmail.com
SEED_STAFF_PASSWORD=123456
SEED_STAFF_FULL_NAME=Staff
SEED_STAFF_PHONE=0900000002

SEED_MANAGER_ENABLED=true
SEED_MANAGER_EMAIL=manager@gmail.com
SEED_MANAGER_PASSWORD=123456
SEED_MANAGER_FULL_NAME=Manager
SEED_MANAGER_PHONE=0900000004

SEED_CUSTOMER_ENABLED=true
SEED_CUSTOMER_EMAIL=customer@gmail.com
SEED_CUSTOMER_PASSWORD=123456
SEED_CUSTOMER_FULL_NAME=Customer
SEED_CUSTOMER_PHONE=0900000003

VNPAY_ENABLED=false
VNPAY_TMN_CODE=K0FNJ3HC
VNPAY_HASH_SECRET=CQYTEUDFQWEVLEYFNYWGQQLPHJTPRYXN
VNPAY_RETURN_URL=http://localhost:8080/payments/vnpay-return
VNPAY_IPN_URL=http://localhost:8080/payments/vnpay-ipn

CLOUDINARY_CLOUD_NAME=yn4pbgfc
CLOUDINARY_API_KEY=888719873422231
CLOUDINARY_API_SECRET=ngM7oP9gkvZGAL1K18VUYD4ZiAQ
CLOUDINARY_FOLDER=new-toy-store
